/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* header */
a {
  text-decoration: none;
}
@font-face {
  font-family: 'timeburner_regular';
  src: url('timeburner_regular.ttf')format('truetype');
}
li {
  list-style: none;
}
nav {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  background: rgba(0,0,0,.5);
  padding: 10px;
}
.nav-main {
  display: flex;
  justify-content: center;
}
.nav-main > li + li{
  margin-left: 55px;
}
.nav-main > li > a{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'timeburner_regular';
}
/* メインビジュアル */
.main-visual {
  height: 100vh;
  background: url(../images/main_visual.jpg) no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Vision */
.section-inner {
  padding: 90px 10px 110px;
}
.section-inner h2 {
  font-size: 60px;
  text-align: center;
  font-family: 'timeburner-regular';
  margin-bottom: 30px;
  font-weight: bold;
}
.vision p{
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}
/* Service */
.service {
  background: url(../images/bg_service.jpg);
  background-size: 100%;
}
.service h2 {
  color: #fff;
}
.service .section-inner {
  padding: 45px 10px 30px;
}
.card-wrap {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 1020px;
  margin: 0 auto;
}
.card {
  width: calc(33.3% - 20px);
  background: #fff;
}
.card figure {
  position: relative;
}
.card figcaption {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}
.card-text {
  padding: 10px 15px;
}