/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 全体 */
a {
  text-decoration: none;
}
@font-face {
  font-family: 'timeburner_regular';
  src: url('timeburner_regular.ttf')format('truetype');
}
li {
  list-style: none;
}
button {
  background: none;
  border: none;
}
/* header */
.btn-menu {
  display: none;
}
nav {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  background: rgba(0,0,0,.5);
  padding: 10px;
}
.nav-main {
  display: flex;
  justify-content: center;
}
.nav-main > li + li{
  margin-left: 55px;
}
.nav-main > li > a{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'timeburner_regular';
}
/* メインビジュアル */
.main-visual {
  overflow: hidden;
}
.main-visual video {
  min-width: 100%;
  min-height: 100vh;
}
.main-visual h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  width: 100%;
  height: 50px;
}
/* Vision */
.section-inner {
  padding: 90px 10px 110px;
}
.section-inner h2 {
  font-size: 60px;
  text-align: center;
  font-family: 'timeburner_regular';
  margin-bottom: 30px;
  font-weight: bold;
}
.vision p{
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}
/* Service */
.service {
  background: url(../images/bg_service.jpg);
  background-size: 100%;
}
.service h2 {
  color: #fff;
}
.service .section-inner {
  padding: 45px 10px 30px;
}
.card-wrap {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 1020px;
  margin: 0 auto;
}
.card {
  width: calc(33.3% - 20px);
  background: #fff;
}
.card figure {
  position: relative;
}
.card figcaption {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}
.card-text {
  padding: 10px 15px;
}
/* News */
.list-news {
  max-width: 900px;
  margin: 0 auto;
}
.list-news > li {
  padding: 25px 10px;
  display: flex;
  border-top: 1px solid #e5e5e5;
  padding-left: 50px;
}
.list-news > li:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.list-news > li > .title {
  color: #333;
  font-size: 16px;
  padding-left: 50px;
}
.list-news > li > span {
  display:flex;
  align-items: center;
}
/* Company */
.company {
  position: relative;
  height: 652px;
}
.box-company {
  z-index: 1;
  position: absolute;
  max-width: 500px;
  padding: 50px 35px;
  background: #fff;
  opacity: .9;
}
.company th {
  color: #888;
  font-size: 16px;
  width: 28%;
  padding: 0 10px;
}
.company td {
  color: #333;
  font-size: 16px;
  padding: 5px 30px 5px 0;
}
.map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* Recruit */
.recruit .section-inner {
   padding: 90px 10px 200px;
}
.recruit-wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
.recruit-wrap::before {
  content: "";
  display: block;
  background: url(../images/recruit_02.jpg) no-repeat;
  position: absolute;
  width: 500px;
  height: 280px;
  top: 0;
  right: 0;
}
.recruit-wrap::after {
  content: "";
  display: block;
  background: url(../images/recruit_01.jpg) no-repeat;
  position: absolute;
  width: 500px;
  height: 280px;
  right: 180px;
  top: 230px;
}
.recruit-inner {
  max-width: 480px;
  padding: 20px;
}
.recruit-inner p {
  margin-bottom: 40px;
}
.recruit-wrap h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.list-recruit {
  margin-bottom: 50px;
}
.list-recruit > li {
  margin-bottom: 10px;
}
.btn-01 {
  color: #fff;
  background: #333;
  display: block;
  width: 282px;
  font-size: 20px;
  padding: 20px 10px;
  text-align: center;
}
footer {
  background: #000;
  text-align: center;
}
footer small {
  padding: 10px;
  color: #fff;
}

/* レスポンシブル対応 */
@media screen and (max-width: 768px){
  .btn-menu {
    display: block;
    position: fixed;
    z-index: 2;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    background: #333;
  }
  .btn-menu-lines {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    margin: auto;
    background: #fff;
  }
  .btn-menu-lines::before, .btn-menu-lines::after {
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    background: #fff;
    content: "";
    -webkit-transition: .3s;
    transition: .3s;
  }
  .btn-menu-lines::before {
    top: 6px;
  }
  .btn-menu-lines::after {
    top: -6px;
  }
  .btn-menu.is-animate .btn-menu-lines {
    background: none;
  }
  .btn-menu.is-animate .btn-menu-lines::before {
    -webkit-transform: rotate3d(0, 0, 2, 45deg);
    transform: rotate3d(0, 0, 2, 45deg);
    top: 0;
  }
  .btn-menu.is-animate .btn-menu-lines::after {
    -webkit-transform: rotate3d(0, 0, 2, -45deg);
    transform: rotate3d(0, 0, 2, -45deg);
    top: 0;
  }
  nav {
    height: 100vh;
    display: none;
  }
  .nav-main {
    flex-direction: column;
    height: 100%;
  }
  .nav-main > li {
    text-align: center;
    padding: 20px 0;
  }
  .nav-main > li + li {
    margin-left: 0;
  }
  .section-inner {
    padding: 40px 10px 50px;
  }
  .recruit .section-inner {
    padding:40px 10px 50px;
  }
  .section-inner h2 {
    font-size: 48px;
  }
  .card-wrap {
    display: block;
  }
  .card {
    max-width: 320px;
    width: 100%;
    margin: 0 auto 30px;
  }
  .list-news > li {
    display: block;
    padding: 25px 10px;
  }
  .list-news > li > .title {
    padding-left: 0;
  }
  .list-news > li > span {
    margin-bottom: 10px;
  }
  .company {
    height: auto;
  }
  .box-company {
    position: static;
    width: auto;
    height: auto;
    padding: 0 10px;
    margin-bottom: 30px;
  }
  .company td {
    padding: 5px 5px 5px 0;
    width: 40%;
  }
  .map {
    position: static;
    width: 100%;
    height: 400px;
  }
  .recruit-inner {
    padding: 0;
  }
  .btn-01 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1040px){
  .recruit-wrap::before, .recruit-wrap::after{
    display: none;
  }
}